parameters:
	mrim_rest_api_url: 'http://192.168.1.15:1862'

constants:
	avatars_path: '/opt/renaissance-web/avatars/'
	mrim_obraz_url: 'http://192.168.1.15'
	email_enabled: false
	openvk_instance: 'ovk.to'

application:
	errorPresenter:
		4xx: Error:Error4xx
		5xx: Error:Error5xx
	mapping: App\UI\*\**Presenter


database:
	dsn: 'mysql:host=192.168.1.15;dbname=mrimdb'
	user: 'root'
	password: 'fMGsVI5DkOntfgsie5p6'


latte:
	strictTypes: yes
	strictParsing: yes
	extensions:
		- App\UI\Accessory\LatteExtension


di:
	export:
		parameters: no
		tags: no

services:
    - App\Model\StatsCollector(%mrim_rest_api_url%)